.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rooms{
  padding-top: 100px;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.single{
  object-fit: cover;
}

.cardbody{
  background-color: #f5f5dc;
}

h1{
  padding-top: 20px;
}